<!doctype html> 
<html>
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="apple-mobile-web-app-capable" content="yes" />
        <meta name="apple-touch-fullscreen" content="yes" />
        <meta name="format-detection" content="telephone=no"/>
        <meta name="apple-mobile-web-app-status-bar-style" content="black" />
        <meta name="format-detection" content="telephone=no"/>
        <meta name="msapplication-tap-highlight" content="no" />
        <meta name="viewport" content="initial-scale=1,maximum-scale=1,minimum-scale=1" />
        <title>商家入驻</title>
        <link rel="stylesheet" type="text/css" href="../../css/common.css">
        <link rel="stylesheet" type="text/css" href="../../css/nctouch_seller.css">
        <link rel="stylesheet" type="text/css" href="../../css/seller-apply.css">
        <link rel="stylesheet" type="text/css" href="../../css/seller-do-apply.css">
        <link rel="stylesheet" type="text/css" href="../../lib/font-awesome/css/font-awesome.min.css">
    </head>
    <body class="page page-seller-apply">
        <header id="header" class="transparent">
            <div class="header-box">
                <div class="header-l"><a href="../../index.html"><i class="fa fa-home"></i></a></div>
                <div class="header-title">
                    <h1>商家入驻</h1>
                </div>
                <div class="header-r"><a id="header-nav" href="login.html" class="text">登陆</a></div>
            </div>
        </header>
        <div class="scroller-body">
            <div class="scroller-box">
                <div class="member-top">
                    <div class="member-info">
                        <a class="default-avatar" href="javascript:;"><i class="fa fa-cart-plus fa-2x"></i></a>
                        <p>商家入驻</p>
                    </div>
                    <div class="member-collect">
                        <span class="active"><a href="do-apply.html"><i class="fa fa-user-plus"></i><p>入驻申请</p></a> </span>
                        <span><a href="view-apply.html"><i class="fa fa-search-plus"></i><p>进度查询</p></a> </span>
                    </div>
                </div>
                <div class="member-center apply-center box-wrap-grid">
                    <dl class="mt5">
                        <div class="nctouch-inp-con">
                            <form id="msform">
                                <!-- progressbar -->
                                <ul id="progressbar">
                                    <li class="active step-1">入驻协议</li>
                                    <li class="step-2">基本信息</li>
                                    <li class="step-3">财务信息</li>
                                    <li class="step-4">店铺信息</li>
                                    <li class="step-5">费用信息</li>
                                    <li class="step-6">店铺开通</li>
                                </ul>
                                <!-- fieldsets -->
                                <fieldset class="step-1">
                                    <h2 class="fs-title">入驻协议</h2>
                                    <h3 class="fs-subtitle"></h3>
                                    <div class="document apply-document"></div>
                                    <input type="button" name="next" class="next action-button" value="同意协议" />
                                </fieldset>
                                <fieldset class="step-2">
                                    <h2 class="fs-title">基本信息</h2>
                                    <h3 class="form-label">个人或公司基本情况</h3>
                                    <input type="text" name="company_name" placeholder="公司名称" />
                                    <input type="text" name="company_address_detail" placeholder="公司地址" />
                                    <input type="text" name="company_phone" placeholder="公司电话" />
                                    <input type="text" name="company_employee_count" placeholder="员工人数" />
                                    <input type="text" name="company_registered_capital" placeholder="注册资金" />
                                    <input type="text" name="contacts_name" placeholder="联系人姓名" />
                                    <input type="text" name="contacts_phone" placeholder="联系人电话" />
                                    <input type="text" name="contacts_email" placeholder="电子邮箱" />
                                    <h3 class="form-label">营业执照信息（副本）</h3>
                                    <input type="text" name="business_licence_number" placeholder="营业执照号">
                                    <input type="button" name="previous" class="previous action-button" value="上一步" />
                                    <input type="button" name="next" class="next action-button" value="下一步" />
                                </fieldset>
                                <fieldset class="step-3">
                                    <h2 class="fs-title">财务信息</h2>
                                    <h3 class="form-label">开户银行信息(用于结算)</h3>
                                    <input type="text" name="bank_account_name" placeholder="银行开户名" />
                                    <input type="text" name="bank_account_number" placeholder="公司银行账号" />
                                    <input type="text" name="bank_name" placeholder="开户银行支行名称" />
                                    <input type="button" name="previous" class="previous action-button" value="上一步" />
                                    <input type="button" name="next" class="next action-button" value="下一步" />
                                </fieldset>
                                <fieldset class="step-4">
                                    <h2 class="fs-title">店铺信息</h2>
                                    <h3 class="form-label">店铺经营信息</h3>
                                    <input type="text" id="seller_name" name="seller_name" placeholder="商家账号" />
                                    <div class="input-tips">此账号为日后登录并管理商家中心时使用，注册后不可修改，请牢记。</div>
                                    <input type="text" id="store_name" name="store_name" placeholder="店铺名称" />
                                    <div class="input-tips">店铺名称注册后不可修改，请认真填写。</div>
                                    <h3 class="form-label">店铺等级</h3>
                                    <select id="sg_id" class="input input-select" name="sg_id"></select>
                                    <h3 class="form-label">开店时长</h3>
                                    <select id="joinin_year" class="input input-select" name="joinin_year">
                                        <option value="1">1年</option>
                                        <option value="2">2年</option>
                                        <option value="3">3年</option>
                                    </select>
                                    <h3 class="form-label">店铺分类</h3>
                                    <select id="sc_id" class="input input-select" name="sc_id"></select>
                                    <div class="input-tips">请根据您所经营的内容认真选择店铺分类，注册后商家不可自行修改。</div>
                                    <h3 class="form-label">经营类目</h3>
                                    <span id="btn_select_category" class="input input-span">选择添加类目</span>
                                    <div class="gc-wrap gc-result">
                                        <dl>
                                            <dt><span>一级分类</span><span>二级分类</span><span>三级分类</span><span>操作</span></dt>
                                        </dl>
                                    </div>
                                    <input type="button" name="previous" class="previous action-button" value="上一步" />
                                    <input type="submit" name="submit" class="submit action-button" value="提交申请" step="4" />
                                </fieldset>
                                <fieldset class="step-5">
                                    <h2 class="fs-title">费用信息</h2>
                                    <h3 class="fs-subtitle"></h3>
                                    <div class="paied">
                                        <h3 class="form-label">付款凭证</h3>
                                        <input type="file" name="paying_money_certificate" />
                                        <input type="hidden" name="paying_money_certificate_val" id="paying_money_certificate_val" />
                                        <textarea placeholder="备注" name="paying_money_certif_exp"></textarea>
                                    </div>
                                    <input type="button" name="previous" class="previous action-button" value="上一步" />
                                    <input type="submit" name="submit" class="submit action-button" value="提交" step="5" />
                                </fieldset>
                                <fieldset class="step-6">
                                    <h2 class="fs-title">店铺开通</h2>
                                    <h3 class="fs-subtitle"></h3>
                                    <input type="button" name="previous" class="previous action-button" value="上一步" />
                                    <input type="submit" name="submit" class="submit action-button" value="提交" step="6" />
                                </fieldset>
                            </form>
                        </div>
                    </dl>
                </div>
            </div>
        </div>
        <div class="error-tips"></div>

        <!-- Zepto S -->
        <script type="text/javascript" src="../../js/config.js"></script>
        <script type="text/javascript" src="../../js/template.js"></script>
        <script type="text/javascript" src="../../js/jquery.min.js"></script>
        <script type="text/javascript" src="../../js/common.js"></script>
        <script type="text/javascript" src="../../js/simple-plugin.js"></script>
        <script type="text/javascript" src="../../js/html/footer.js"></script>
        <!--script type="text/javascript" src="../../js/tmpl/seller/login.js"></script-->
        <!-- Zepto E -->
        <!-- jQuery S -->
        <script type="text/javascript" src="../../lib/jquery/jquery.easing.1.3.js" charset="utf-8"></script>
        <script type="text/javascript" src="../../lib/jquery/fileupload/jquery.iframe-transport.js"></script>
        <script type="text/javascript" src="../../lib/jquery/fileupload/jquery.ui.widget.js"></script>
        <script type="text/javascript" src="../../lib/jquery/fileupload/jquery.fileupload.js"></script>
        <script type="text/javascript" src="../../js/html/seller/do-apply.js"></script>
        <!-- jQuery E -->
        <!-- Template -->
        <script type="text/html" id="sg_html">
            <option value="">请选择</option>
            <% for(var i=0; i<grade_list.length; i++) { %>
                <option value="<%= grade_list[i].sg_id %>"><%= grade_list[i].sg_name %> (商品数：<%= grade_list[i].sg_goods_limit %> 模板数：<%= grade_list[i].sg_template_number %> 收费标准：<%= grade_list[i].sg_price %> 元/年 附加功能：<%= grade_list[i].function_str %>)</option>
            <% } %>
        </script>
        <script type="text/html" id="sc_html">
            <option value="">请选择</option>
            <% for(var i=0; i<store_class.length; i++) { %>
                <option value="<%= store_class[i].sc_id %>"><%= store_class[i].sc_name %> (保证金：<%= store_class[i].sc_bail %> 元)</option>
            <% } %>
        </script>
        <script type="text/html" id="gc_html">
            <option value="">请选择</option>
            <% for(var i=0; i<gc_list.length; i++) { %>
                <option data-commis-rate="<%= gc_list[i].commis_rate %>" data-explain="<%= gc_list[i].gc_id %>" value="<%= gc_list[i].gc_id %>"><%= gc_list[i].gc_name %></option>
            <% } %>
        </script>
    </body>
</html>