<!doctype html>

<html>

<head>

<meta charset="UTF-8">

<meta http-equiv="X-UA-Compatible" content="IE=edge" />

<meta name="apple-mobile-web-app-capable" content="yes" />

<meta name="apple-touch-fullscreen" content="yes" />

<meta name="format-detection" content="telephone=no"/>

<meta name="apple-mobile-web-app-status-bar-style" content="black" />

<meta name="format-detection" content="telephone=no" />

<meta name="msapplication-tap-highlight" content="no" />

<meta name="viewport" content="initial-scale=1,maximum-scale=1,minimum-scale=1" />

<title>热销排行</title>

<link rel="stylesheet" type="text/css" href="../../css/common.css">

<link rel="stylesheet" type="text/css" href="../../css/member.css">

<link rel="stylesheet" type="text/css" href="../../css/common.css"> 

<link rel="stylesheet" type="text/css" href="../../css/seller_stat.css">

</head>
<body>
<header id="header" class="fixed">
 <div class="header-box">
    <div class="header-l"> <a href="seller.html"> <i class="back"></i> </a> </div>
    <div class="header-title">
      <h1>热销排行</h1>
    </div>
    <div class="header-r"> <a id="header-nav" href="javascript:void(0);"><i class="more"></i><sup></sup></a> </div>
  </div>
  <div class="wtm-nav-box">
    <div class="wtm-nav-menu"> <span class="arrow"></span>
      <ul>
        <ul>
			<li><a href="seller.html"><i class="home"></i>商家中心</a></li>
			<li><a href="seller_address_list.html"><i class="send"></i>发货地址</a></li>
			<li><a href="seller_express.html"><i class="express"></i>物流公司</a></li>
			<li><a href="seller_account.html"><i class="store"></i>店铺设置<sup></sup></a></li>
			<li><a href="chat_list.html"><i class="message"></i>IM 客服<sup></sup></a></li>
			<li id="logoutbtn"><a href="javascript:void(0);"><i class="exit"></i>退出登录<sup></sup></a></li>
		</ul>
      </ul>
    </div>
  </div>

</header>

<div class="wtm-main-box">
  <div id="fixed_nav" class="wtm-single-nav">
    <ul id="filtrate_ul" class="w20h">
        <li ><a href="seller_stat_index.html" data-state="onlinegoods" id="onlinegoods">店铺概况</a></li>

      <!--<li><a href="seller_stat_goodslist.html" data-state="goods_list" id="goodslist">店铺统计</a></li>
-->
      <li><a href="seller_stat_storeflow.html" data-state="store_flow" id="storeflow">店铺流量</a></li> 

      <li ><a href="seller_stat_goodsflow.html" data-state="goods_flow" id="goodsflow">商品流量</a></li> 

      <li class="selected"><a href="javascript:void(0);" data-state="hot_goods" id="hotgoods">热销排行</a></li> 

	 </ul>
  </div>
  

	<div id="stat_search"></div>
<table class="search-form">
    <tr>
    	<td class="tr">
    		
    		<div class="fr" style="float: left;padding-left: 5px;">
			  <div class="fl" style="margin-right:3px;font-size: 14px;">
        		商品分类&nbsp;<span id="searchgc_td"></span><input type="hidden" id="choose_gcid" name="choose_gcid" value="0"/>
        	 </div>
    		  <div class="fl" style="margin-right:3px;">
        		<select name="search_type" id="search_type" class="querySelect" style="height: 25px;">
					
        			<option value="week" >按照周统计</option>
        			<option value="month" >按照月统计</option>
        		</select>
        	 </div>
			 
                <div id="searchtype_week" style="display:none;float: left;height: 30px;line-height: 20px;" class="fl">
                  	<select name="searchweek_year" id="searchweek_year" class="querySelect" style="height: 25px;">
					
                    </select>
                    <select name="searchweek_month" id="searchweek_month" class="querySelect" style="height: 25px;">
					                 	
                    </select>
                    <select name="searchweek_week" id="searchweek_week" class="querySelect" style="height: 25px;">
					
                    </select>
              </div>
              <div id="searchtype_month" style="display:none;float: left;height: 30px;line-height: 23px;" class="fl">
                  	<select name="searchmonth_year" id="searchmonth_year" class="querySelect" style="height: 25px;">
                  		
                    </select>
                    <select name="searchmonth_month" id="searchmonth_month" class="querySelect" style="height: 25px;">
                    	
                    </select>
              </div>
			  <div class="fr" style="float: right;height: 25px;line-height: 25px;">
    			<label class="submit-border">
				 <a class="btn submit search-btn" style="height: 25px;line-height: 25px;"  href="javascript:void(0)">搜索</a>
				</label>
    		</div>
    		</div>
    	</td>
    </tr>
  </table>
	
  <div style="clear:both;"></div>
  </div>
  
<div id="container"></div> 
<div id="goodslist_info"></div> 
</div>


<footer id="footer" class="bottom"></footer>
<script type="text/html" id="goodslist_tpl">
<table class="wtsc-default-table">
  <thead>
    <tr class="sortbar-array">
      <th class="w90">序号</th>
      <th>商品名称</th>
      <th>下单商品数</th>
    </tr>
  </thead>
  <tbody>
    <% if(goods_list.length>0) { %>
		<% for (var i=0; i < goods_list.length; i++) { %>
		<tr class="bd-line">
		  <td class="w90"><%=i+1 %></td>
		  <td class="tl"><a href="../../html/product_detail.html?goods_id=<%=goods_list[i].goods_id %>" ><%=goods_list[i].goods_name %></a></td>
		  <td><%=goods_list[i].goodsnum %></td>
		</tr>
		<% } %>
    <% } else { %>
		<tr>
		  <td colspan="20" class="norecord"><div class="warning-option"><i class="icon-warning-sign"></i><span>无记录</span></div></td>
		</tr>
    <% } %>
  </tbody> 
</table>
</script>
<script type="text/javascript" src="../../js/jquery.min.js"></script> 
<script type="text/javascript" src="../../js/template.js"></script>
<script type="text/javascript" src="../../js/config.js"></script>
<script src="/data/resource/js/jquery.js" type="text/javascript"></script>
<script type="text/javascript" src="/system/static/js/jquery-ui/jquery.ui.js"></script>
<script type="text/javascript" src="../../js/common-seller.js"></script>
<script type="text/javascript" src="../../js/common_select.js"></script>
<script type="text/javascript" src="../../js/simple-plugin.js"></script>
<script type="text/javascript" src="../../js/waypoints.js"></script>
<script type="text/javascript" src="../../js/html/seller/seller_stat_hotgoods.js"></script>
<script type="text/javascript" src="../../js/highcharts.js"></script>
<script type="text/javascript">
//展示搜索时间框
function show_searchtime(){
	s_type = $("#search_type").val();
	$("[id^='searchtype_']").hide();
	$("#searchtype_"+s_type).show();
}

$(function(){
	//统计数据类型
	var s_type = $("#search_type").val();
	
	show_searchtime();
	$("#search_type").change(function(){
		show_searchtime();
	});
	
	//更新周数组
	$("[name='searchweek_month']").change(function(){
		var year = $("[name='searchweek_year']").val();
		var month = $("[name='searchweek_month']").val();
		$("[name='searchweek_week']").html('');
		$.getJSON('/shop/index.php/index/getweekofmonth',{y:year,m:month},function(data){
	        if(data != null){
	        	for(var i = 0; i < data.length; i++) {
	        		$("[name='searchweek_week']").append('<option value="'+data[i].key+'">'+data[i].val+'</option>');
			    }
	        }
	    });
	});

});
</script>
</body>
</html>

